.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-spacing {
  margin-right: 10px;
  width: 80%;
}

.card {
  margin: 10px
}

.alert-position {
  position:fixed;
  text-align: center;
}

.button-spacing {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

.li-spacing {
  margin-top: 10px;
}